.sidebar .content-editor-label {
	position: relative;
  display: block;
	margin-bottom: 5px;
	padding: .9375rem;
	width: 100%;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 4px;
}
@media (max-width: 640px) and (orientation: portrait) {
	.sidebar .content-editor-label {
		float: left;
		margin-bottom: 0;
		padding: .46875rem .9375rem;
		width: 250px;
	}
}

.sidebar .select-ratio,
.sidebar .input-range {
	margin-top: 10px;
	width: 100%;
  background-color: transparent;
}

.sidebar .select-ratio {
  position: relative;
  padding: 0 .9375rem;
  height: 35px;
  border: none;
  background-color: rgba(255,255,255,.2);
  background-image: url("../assets/select-80.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  -webkit-appearance: none;
}
.sidebar .select-ratio:focus,
.sidebar .select-ratio:active {
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  outline: none;
}

.sidebar input[type=range].input-range {
  -webkit-appearance: none;
  width: 100%;
}
.sidebar input[type=range].input-range::-webkit-slider-thumb { -webkit-appearance: none; }
.sidebar input[type=range].input-range:focus { outline: none; }
.sidebar input[type=range].input-range::-ms-track {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}
.sidebar input[type=range].input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  cursor: pointer;
}
.sidebar input[type=range].input-range::-moz-range-thumb {
  margin-top: -6px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  cursor: pointer;
}
.sidebar input[type=range].input-range::-ms-thumb {
  margin-top: -6px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  cursor: pointer;
}
.sidebar input[type=range].input-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: none;
  background-color: rgba(255,255,255,.2);
  border-radius: 10px;
}
.sidebar input[type=range].input-range:focus::-webkit-slider-runnable-track { background-color: rgba(255,255,255,.2); }
.sidebar input[type=range].input-range::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background-color: rgba(255,255,255,.2);
  border-radius: 10px;
  border: none;
}
.sidebar input[type=range].input-range::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background-color: rgba(255,255,255,.2);
  border-color: transparent;
  border-width: 0;
  color: transparent;
}
.sidebar input[type=range].input-range::-ms-fill-lower {
  background-color: rgba(255,255,255,.2);
  border: none;
  border-radius: 10px;
  box-shadow: none;
}
.sidebar input[type=range].input-range:focus::-ms-fill-lower { background-color: rgba(255,255,255,.2); }
.sidebar input[type=range].input-range::-ms-fill-upper {
  background-color: rgba(255,255,255,.2);
  border: none;
  border-radius: 10px;
  box-shadow: none;
}
.sidebar input[type=range].input-range:focus::-ms-fill-upper { background-color: rgba(255,255,255,.2); }

.sidebar .select-align {
	float: left;
	margin-top: 10px;
  padding: 0 .9375rem;
	width: 49%;
  height: 35px;
  border: none;
  background-color: rgba(255,255,255,.2);
  background-image: url("../assets/select-80.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  -webkit-appearance: none;
}
.sidebar .select-align:focus,
.sidebar .select-align:active {
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
  outline: none;
}
.sidebar .select-align:first-of-type { margin-right: 2%; }

.sidebar .input-text {
	padding: 10px;
	border: none;
	border-radius: 4px;
	width: 100%;
	height: 75px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #fff;
  background-color: rgba(255,255,255,.2);
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  -webkit-appearance: none;
}
.sidebar .input-text:focus,
.sidebar .input-text:active {
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
  outline: none;
}
.sidebar .file-upload {
	position: relative;
  width: 100%;
  height: 50px;
	margin-top: 10px;
}
.sidebar .file-upload > span {
	border: none;
	border-radius: 4px;
	height: 100%;
  width: 100%;
	font-size: 12px;
  line-height: 50px;
	color: #fff;
	text-align: center;
  background-color: rgba(255,255,255,.2);
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  transition: background-color .3s ease-in;
}
.sidebar .file-upload:hover > span { background-color: rgba(255,255,255,.4); }
.no-touchevents .sidebar .file-upload .file-upload-notouch { display: block; }
.no-touchevents .sidebar .file-upload .file-upload-touch { display: none; }
.touchevents .sidebar .file-upload .file-upload-notouch { display: none; }
.touchevents .sidebar .file-upload .file-upload-touch { display: block; }

.sidebar .input-image,
.sidebar .input-logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
}

.sidebar .radios { margin-top: 10px; }
.sidebar .radios label {
	vertical-align: top;
	line-height: 30px;
	cursor: pointer;
	text-transform: capitalize;
	font-weight: normal;
}
.sidebar .input-radio {
	position: relative;
	margin: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px #444 solid;
	box-shadow: 0 0 0 rgba(0,0,0,.6);
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
	cursor: pointer;
	-webkit-appearance: none;
		 -moz-appearance: none;
		 			appearance: none;
	-webkit-transition: box-shadow .2s ease-out, border .2s ease-out;
					transition: box-shadow .2s ease-out, border .2s ease-out;
}
.sidebar .input-radio:checked {
	border-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	-webkit-transition: box-shadow .3s ease-out, border-color .3s ease-out;
					transition: box-shadow .3s ease-out, border-color .3s ease-out;
}
.sidebar .input-radio.radio-transparent:checked:before { color: #333; }
.sidebar .input-radio:checked,
.sidebar .input-radio:focus,
.sidebar .input-radio:active { outline: none; }
.sidebar .radio-none {
	border-color: rgba(255,41,12,1) !important;
  border-width: 3px !important;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,41,12,1) 45%, rgba(240,41,12,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(45%, rgba(246,41,12,1)), color-stop(55%, rgba(240,41,12,1)), color-stop(55%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,41,12,1) 45%, rgba(240,41,12,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,41,12,1) 45%, rgba(240,41,12,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,41,12,1) 45%, rgba(240,41,12,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,41,12,1) 45%, rgba(240,41,12,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
.sidebar .radio-red { margin-left: 5px; background-color: #c0392b; }
.sidebar .radio-orange { background-color: #e67e22; }
.sidebar .radio-yellow { background-color: #f1c40f; }
.sidebar .radio-green  { background-color: #2ecc71; }
.sidebar .radio-blue { background-color: #2980b9; }
.sidebar .radio-purple { background-color: #8e44ad; }
.sidebar .radio-pink { background-color: #ff0080; }
.sidebar .radio-black { background-color: #000000; }

.sidebar .download-wrapper { padding: 0 .9375rem; }

.sidebar .button-download {
	display: none;
	padding: 0 .9375rem;
	width: 100%;
	height: 40px;
  font-size: 12px;
	line-height: 40px;
	color: #333;
	text-align: center;
	text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
	background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
	cursor: pointer;
  transition: box-shadow .3s ease-in, color .3s ease-in;
}
.sidebar .button-download:hover {
  color: #555;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
	.sidebar .button-download {
		float: none;
		margin: 0;
	}
}
.no-touchevents .sidebar .button-download-notouch { display: block; }
.no-touchevents .sidebar .button-download-touch { display: none; }
.touchevents .sidebar .button-download-touch { display: none; }
.touchevents .sidebar .button-download-touch { display: block; }
