.sidebar {
	width: 25%;
	height: 100%;
	border-left: 1px solid #626262;
  border-left: 1px solid #4285f4;
	background-color: #fff;
  background-color: #4285f4;
	box-shadow: 0 0 30px rgba(0,0,0,.6);
}
@media (max-width: 1200px) {
	.sidebar { width: 300px; }
}
@media (max-width: 767px) {
	.sidebar {
		position: absolute;
		z-index: 20;
		right: 0;
		height: 100%;
		-webkit-transition: transform .4s ease-out;
						transition: transform .4s ease-out;
	}
	.close .sidebar {
		-webkit-transform:  translate(100%,0);
						transform:  translate(100%,0);
		-webkit-transform:  translate3d(100%,0,0);
						transform:  translate3d(100%,0,0);
		-webkit-transition: transform .3s ease-out;
						transition: transform .3s ease-out;
	}
}
@media (max-width: 640px) and (orientation: portrait) {
	.sidebar {
		position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
		padding: 0;
		width: 100%;
		height: 40%;
		border: none;
	}
	.close .sidebar {
		-webkit-transform:  none;
						transform:  none;
		-webkit-transition: none;
						transition: none;
	}
}
@media (max-width: 640px) and (orientation: landscape) {
	.sidebar {
		position: absolute;
		right: 0;
		height: 100%;
		-webkit-transition: transform .4s ease-out;
						transition: transform .4s ease-out;
	}
	.close .sidebar {
		-webkit-transform: translate(100%,0);
						transform: translate(100%,0);
		-webkit-transform: translate3d(100%,0,0);
						transform: translate3d(100%,0,0);
		-webkit-transition: transform .3s ease-out;
						transition: transform .3s ease-out;
	}
}

.sidebar .open-close-toggle { display: none; }
.sidebar .toggle {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 50px;
	height: 50px;
	font-size: 12px;
	line-height: 50px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	transition: transform .3s ease-out;
}
.sidebar .close-toggle img {
	display: inline;
	margin: 9px;
	width: 100%;
	max-width: 32px;
}
.sidebar .close-toggle {
	opacity: 1;
	-webkit-transform: scale(1);
					transform: scale(1);
	-webkit-transform: scale3d(1,1,1);
					transform: scale3d(1,1,1);
}
.sidebar .open-toggle {
	opacity: 0;
	-webkit-transform: scale(0);
					transform: scale(0);
	-webkit-transform: scale3d(0,0,0);
					transform: scale3d(0,0,0);
}
.close .sidebar .close-toggle {
	opacity: 0;
	-webkit-transform: scale(0);
					transform: scale(0);
	-webkit-transform: scale3d(0,0,0);
					transform: scale3d(0,0,0);
}
.close .sidebar .open-toggle {
	opacity: 1;
	-webkit-transform: scale(1);
					transform: scale(1);
	-webkit-transform: scale3d(1,1,1);
					transform: scale3d(1,1,1);
}
@media (max-width: 767px) {
	.sidebar .open-close-toggle {
		position: absolute;
		left: -49px;
		display: block;
    width: 50px;
    height: 50px;
    border-radius: 0 0 0 4px;
    background-color: #4285f4;
		box-shadow: -5px 2px 5px rgba(0,0,0,.3);
		cursor: pointer;
	}
}
@media (max-width: 640px) and (orientation: landscape) {
	.sidebar .open-close-toggle {
		position: absolute;
		left: -49px;
		display: block;
    width: 50px;
    height: 50px;
    border-radius: 0 0 0 4px;
    background-color: #fff;
		box-shadow: -5px 2px 5px rgba(0,0,0,.3);
		cursor: pointer;
	}
}

.sidebar header,
.sidebar footer { padding: .46875rem .9375rem; }
@media (max-width: 640px) and (orientation: portrait) {
	.sidebar footer { display: none; }
}
@media (max-width: 380px) {
	.sidebar header,
	.sidebar footer { padding: 0 .9375rem; }
}

.sidebar footer .icon-info {
	display: none;
	visibility: hidden;
}
@media (max-width: 640px) and (orientation: portrait) {
	.sidebar footer .icon-info {
		position: absolute;
		right: 0;
		z-index: 1;
		display: block;
		margin: .47375rem .9375rem;
		width: 24px;
		opacity: .5;
		visibility: visible;
		cursor: pointer;
	}
	.sidebar footer .icon-info:hover { opacity: 1; }
}

@media (max-width: 640px) and (orientation: portrait) {
	.sidebar footer small {
		position: absolute;
	  right: .236875rem;;
		padding: .47375rem 2.8125rem .47375rem .9375rem;
		border-radius: 4px;
		border: 1px solid #ccc;
	  background-color: #fff;
	  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
		opacity: 0;
		-webkit-transform: scale(.6);
						transform: scale(.6);
		-webkit-transform: scale3d(.6,.6,.6);
						transform: scale3d(.6,.6,.6);
		-webkit-transform-origin: right;
						transform-origin: right;
		-webkit-transition: opacity .2s ease-out, transform .2s ease-out;
						transition: opacity .2s ease-out, transform .2s ease-out;
	}
	.sidebar footer small.active {
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
		-webkit-transform: scale3d(1,1,1);
						transform: scale3d(1,1,1);
	}
}

.sidebar .content-editor {
	position: relative;
	right: -15px;
	padding: .9375rem 15px .9375rem 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.mac .sidebar .content-editor { padding-right: 30px; }
@media (max-width: 640px) and (orientation: portrait) {
	.sidebar .content-editor,
	.mac .sidebar .content-editor {
		right: 0;
		padding: 0;
	}
}

.sidebar .icons {
	display: none;
	width: 100%;
	height: 50px;
	text-align: center;
}
@media (max-width: 640px) and (orientation: portrait) {
	.sidebar .icons { display: block; }
}

.sidebar .icons .icon {
	display: inline-block;
	margin: 0 .703125rem;
  padding: 10px 0;
	width: 24px;
	opacity: .6;
}
.sidebar .icons .icon.active { opacity: 1; }
.sidebar .icons .icon a {
	display: block;
	width: inherit;
	height: inherit;
}
.sidebar .icons .icon img { max-width: 100%; }

@media (max-width: 640px) and (orientation: portrait) {
	.sidebar .content-editor-wrapper {
		position: relative;
		width: 100%;
		background-color: #3275e4;
		overflow-x: scroll;
		-webkit-scroll-snap-points-x: repeat(250px);
						scroll-snap-points-x: repeat(250px);
		-webkit-scroll-snap-type: mandatory;
						scroll-snap-type: mandatory;
	}
	.sidebar .content-editor-track {
		position: relative;
		width: 1875px;
		left: calc((100% - 250px) / 2);
	}
}
