/* Global styles */
html, body, h1, h2, h3, h4, h5, h6, p, label, input, textarea, * {
	padding: 0;
  margin: 0;
  box-sizing: border-box;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
 	line-height: 20px;
	color: #333;
	text-rendering: optimizeLegibility;
}
h1 { font-size: 36px; line-height: 42px; }
canvas {
	max-width: 100% !important;
	background-color: #ccc;
}
img { display: block; max-width: 100%; }
a {
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

/* Helpers */
.desktop { display: block !important; }
.mobile { display: none !important; }
.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}
.fix > div {
  margin-top: 267px;
}
.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.left-col {
	float: left;
	padding: 0 20px;
	width: 66.66666%;
}
.fix .left-col {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  top: 0;
  padding-top: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.right-col {
	float: left;
	padding: 0 20px;
	width: 33.33333%;
}

/* Title */
.title {
  margin-bottom: 25px;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #ee6e73;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
}
.title h1 {
  font-size: 22px;
  line-height: 50px;
  font-weight: 200;
  color: #fff;
}

/* Preview */
.preview {
	position: relative;
	padding: 20px 25px;
	width: 100%;
	height: 400px;
	background-color: #ccc;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.preview-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	opacity: .5;
}
.preview-logo {
	position: absolute;
	bottom: 20px;
	right: 25px;
	width: 200px;
	height: auto;
}
.preview-text {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 25px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 42px;
	line-height: 48px;
	font-weight: 600;
	color: #fff;
}

/* Inputs */
.select-align {
	float: left;
	margin-top: 10px;
	width: 49%;
}
.select-align:first-of-type {
	margin-right: 2%;
}
.select-ratio,
.input-range {
	margin-top: 10px;
	width: 100%;
}
.input-text {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 4px;
	width: 100%;
	height: 75px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}
.file-upload {
	position: relative;
  width: 100%;
  height: 50px;
	margin-top: 10px;
}
.file-upload > span {
	display: block;
	border: 1px dashed #999;
	border-radius: 4px;
	height: 100%;
  width: 100%;
	font-size: 12px;
  line-height: 50px;
	color: #999;
	text-align: center;
  background-color: #fff;
}
.file-upload:hover > span { background-color: #f3f3f3; }
.input-image,
.input-logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
}

.content-editor-label,
.mobile-download-area  {
	display: block;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 4px;
	width: 100%;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	color: #666;
	text-transform: uppercase;
	background-color: whitesmoke;
}
.mobile-download-area { display: none; }
.mobile-download-area img { margin-top: 10px; }
.radios { margin-top: 10px; }
.radios label {
	vertical-align: top;
	line-height: 30px;
	cursor: pointer;
	text-transform: capitalize;
	font-weight: normal;
}
.input-radio {
	-webkit-appearance: none;
	position: relative;
	margin: 0;
	border: 1px #ccc solid;
	border-radius: 4px;
	height: 30px;
	width: 40px;
	cursor: pointer;
}
.input-radio:checked:before {
	content: 'X';
	position: absolute;
	margin-left: 13px;
	font-size: 20px;
	line-height: 28px;
	color: #FFF;
}

.radio-transparent {
	vertical-align: top;
	height: 30px;
	margin-top: 0;
	margin-bottom: 0;
}
.input-radio.radio-transparent:checked:before { color: #333; }
.input-radio:checked, .input-radio:focus, .input-radio:active { outline: none; }
.radio-red { margin-left: 5px; background-color: #c0392b; }
.radio-orange { background-color: #e67e22; }
.radio-yellow { background-color: #f1c40f; }
.radio-green  { background-color: #2ecc71; }
.radio-blue { background-color: #2980b9; }
.radio-purple { background-color: #8e44ad; }
.radio-black { background-color: #000000; }

/* Download button */
.download-wrapper { padding: 10px 0; }
.button-download {
	display: inline-block;
	padding: 15px 30px;
	border: 1px solid #d50000;
	border-radius: 4px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
  font-weight: 500;
	color: #fff;
	text-align: center;
	text-decoration: none;
  text-transform: uppercase;
	background-color: #d50000;
	cursor: pointer;
}
.button-download:hover { background-color: #cc3744; }

.footer-inner {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #ef9a9a;
}

.footer-inner small {
  font-size: 12px;
  line-height: 50px;
  font-weight: 200;
  color: #fff;
}

@media only screen and (max-width: 767px) {
	.desktop { display: none !important; }
  .mobile { display: block!important; }
  .left-col,
	.right-col {
		float: none;
		padding: 0 20px;
		width: 100%;
	}

  .select-align { float: none; width: 100%; }
  .select-align:first-of-type { margin-right: 0; }

	.button-download { width: 100%; }
}
